<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Greetings | Madlibs!</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
    <h1>Game Page</h1>
    <form action="/madLib">Please input the following:

        <label for= "name-input">A person's name</label>
        <input id="name-input" type="text" name="name" />

        <label for= "color-input">A color</label>
        <input id="color-input" type="text" name="color" />

        <label for= "noun-input">A noun</label>
        <input id="noun-input" type="text" name="noun" />

        <label for= "adj-input">An adjective</label>
        <input id="adj-input" type="text" name="adj" />

        <button type="submit">Submit Answers</button>
    </form>
    </body>

</html>
